.highlighted-textarea {
    textarea::placeholder {
        color: #ccc;
        font-style: italic;
      }

    .token-string {
      color: rgb(116, 21, 225);
    }
    .token-logic {
      font-weight: bold;
      color: #c21313;
    }
    .token-key {
      color: #479ee0ec;
    }
    .token-key-invalid {
      background: #fee;
      color: #a00;
    }
    .token-quote {
      color: #000000;
    }
  }